.button {
    border: 1px solid #999999;
    cursor: pointer;

    &.primary {
        border-color: red;
        color: red;
    }

    &.secondary {
        border-color: green;
        color: green;
    }
}