@use "scss/colors";
@use "scss/animations" as *;

.button {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-weight: 500;
    transition: all 0.15s ease-out;
    border-radius: 8px;

    // colors
    &.primary {
        border: 1px solid colors.$primary;
        background-color: colors.$primary;
        color: colors.$white;

        &:hover {
            background-color: colors.$white;
            color: colors.$primary;
        }
    }

    &.secondary {
        border: 1px solid colors.$secondary;
        background-color: colors.$secondary;
        color: colors.$white;

        &:hover {
            background-color: colors.$white;
            color: colors.$secondary;
        }
    }

    // sizes
    &.sm {
        height: 34px;
        font-size: 13px;
        padding: 6px 10px;
    }

    &.md {
        height: 44px;
        font-size: 15px;
        padding: 8px 12px;
    }

    &.lg {
        height: 52px;
        font-size: 17px;
        padding: 10px 14px;
    }

    &.isLoading {
        position: relative;
        cursor: wait;

        &:before {
            margin: -13px 0 0 -13px;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            content: "";
            border-radius: 24px;
            background-clip: padding-box;
            border-color: rgba(colors.$white, 0.25);
            border-width: 2px;
            border-style: solid;
            border-top-color: colors.$white;
            animation: animation-rotate 975ms cubic-bezier(0.25, 0.35, 0.5, 0.95) infinite;
        }

        &.sm {
            &:before {
                width: 18px;
                height: 18px;
                margin: -11px 0 0 -11px;
            }
        }

        &:hover {
            &.primary {
                &:before {
                    border-color: rgba(colors.$primary, 0.25);
                    border-top-color: colors.$primary;
                }
            }

            &.secondary {
                &:before {
                    border-color: rgba(colors.$secondary, 0.25);
                    border-top-color: colors.$secondary;
                }
            }
        }
      
        span {
            color: transparent;
        }
    }
}