@use "scss/colors";

.strategyDetail {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    label {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        color: colors.$grey;
        margin-bottom: 3px;
        display: block;
    }

    .strategyName {
        display: flex;
        align-items: flex-end;


        h1 {
            margin: 0;
        }

        button {
            background: transparent;
            border: 0;
            color: colors.$grey;
            font-size: 24px;
            cursor: pointer;
            margin-bottom: 2px;
            margin-right: 10px;
            
            &:hover {
                color: colors.$black;
            }

            &:focus {
                outline: none;
            }

            > span {
                display: flex;
                align-items: center;
    
                svg {
                    margin-right: 8px;
                }
            }
        }
    }

    .valuesAndCta {
        display: flex;
        margin-bottom: 6px;
        align-items: center;
    }

    .valuation { 
        display: flex;

        > div {
            margin-right: 25px;
        }
        span {
            font-weight: bold;

            &.red {
                color: colors.$red;
            }
        }
    }

    .performanceChart {
        width: 100%;
        height: 350px;
        margin: 10px 0 30px;
    }

    .tokensSection {
        display: flex;
        justify-content: space-between;

        .tokensList {
            flex-basis: 50%;

            h2 {
                margin: 0 0 4px;
            }
            
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: flex;
                    width: 100%;
                    padding: 12px 0;
                    border-bottom: 1px solid colors.$grey;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .tokenInfo {
                        margin-left: 8px;
                        width: 100%;

                        .firstRow {
                            display: flex;
                            justify-content: space-between;
                            font-weight: bold;
                            width: 100%;
                            font-size: 18px;
                        }

                        .secondRow {
                            color: colors.$grey;
                            font-size: 14px;
                            margin-top: 6px;
                        }
                    }

                }
            }
        }
    }

    .tokensPercentageChart {
        flex-basis: 30%;
        margin-left: 25px;
    }
}